# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# .NET build output
# =========================
**/bin/
**/obj/

# Build artifacts
*.dll
*.exe
*.pdb
*.cache

# =========================
# Visual Studio Code
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# NuGet
# =========================
*.nupkg
*.snupkg
**/[Pp]ackages/*

# =========================
# Logs
# =========================
*.log
[Ll]og/
[Ll]ogs/

# =========================
# Node
# =========================
node_modules/

# =========================
# Publish
# =========================
publish/
*.pubxml
*.publishsettings

# =========================
# SonarQube
# =========================
.sonarqube/
.scannerwork/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
